@mixin h ($font-size){
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size;
}
h1{
    @include h(40px);
}
h4{
    @include h(18px);
}
h3{
    color: #AFAFAF;
    @include h(25px);
}
h2 {
    color: white;
    @include h(25px);
}
/*MIXIN NAV*/
@mixin navbar_mixin($background-color, $color) {
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    background-color: $background-color;
    color: $color;
}
.navbar-default {
    padding: 0px 60px;
    @include navbar_mixin(white , #C1C1C1);
}
.navbar-default .navbar-nav .active > a {
    @include navbar_mixin(white ,#E8603C);
}
.navbar-default .navbar-nav > li > a {
    @include navbar_mixin(white , #C1C1C1);
}
.navbar-default .navbar-nav > li > a:hover {
    @include navbar_mixin(white ,#E8603C);
}
.navbar-default .navbar-nav > li > a:focus {
    @include navbar_mixin(#E8603C , white);
}
