/*HOME*/
#ei-slider {
  background-image: url(../images/slider.jpg);
  background-size: cover;
  height: 500px;
  background-position: center;
  margin-top: 100px; }

.home_text i {
  font-size: 40px;
  float: left; }

.from_blog, #from_blog_about, #from_blog_carrusel {
  background-image: url(../images/heading-bg.png);
  background-repeat: repeat-x;
  height: 50px;
  width: 80%;
  float: right; }

.blog_post_meta {
  padding: 0px; }
  .blog_post_meta img {
    width: 100%; }

.info_blog {
  padding: 4px;
  border: 1px solid #c1c1c1;
  border-top: none; }

#myCarousel {
  margin-top: 50px;
  border: 10px solid white; }
  #myCarousel img {
    width: 100%; }

#img_mg {
  margin-top: 130px; }

.autor img {
  float: left; }

#from_blog_about {
  width: 38%;
  height: 34px; }

.bckg_pink, .bckg_pink_separador {
  background-color: #F3AF9D;
  width: 20%;
  margin: 2px;
  height: 50px;
  border: 1px solid  #E8603C; }

#autor img {
  width: 100%;
  padding: 5px;
  border: 1px solid black; }

#border_orange {
  margin-left: 30px;
  padding: 0px 15px;
  border-left: 10px solid #E8603C; }

/*HEADER*/
.nav {
  padding-top: 35px; }

.navbar-toggle {
  margin-right: -18px;
  margin-top: 38px; }

.navbar-default .navbar-nav > li > a.active {
  color: red; }

/*FOOTER*/
footer {
  color: white; }
  footer .single_footer {
    padding: 5px 40px; }

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px; }

h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px; }

h3 {
  color: #AFAFAF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px; }

h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px; }

/*MIXIN NAV*/
.navbar-default {
  padding: 0px 60px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  background-color: white;
  color: #C1C1C1; }

.navbar-default .navbar-nav .active > a {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  background-color: white;
  color: #E8603C; }

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  background-color: white;
  color: #C1C1C1; }

.navbar-default .navbar-nav > li > a:hover {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  background-color: white;
  color: #E8603C; }

.navbar-default .navbar-nav > li > a:focus {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  background-color: #E8603C;
  color: white; }

/*GLOBAL*/
* h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif; }

body {
  color: inherit; }

section {
  padding: 40px 0px; }

.container {
  padding-left: 35px;
  padding-right: 35px; }

p {
  font-size: 17px;
  font-family: 'Roboto', sans-serif; }

.btn_orange {
  background-color: #E8663C;
  padding: 4px 8px 4px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold; }

#mg_0 {
  width: 100%;
  margin: 0px; }
  #mg_0 img {
    width: 100%; }

.text-right {
  float: right; }

.bckg_pink_separador {
  width: 100%;
  margin-top: 105px;
  position: absolute;
  border: none;
  z-index: -1; }

.mt {
  height: 55px;
  padding: 3px;
  margin-top: 100px;
  border-left: 6px solid white;
  border-right: 6px solid white; }

footer {
  border-left: 10px solid white;
  border-right: 10px solid white;
  margin: 0px 40px; }

.pink {
  background-color: pink; }

@media screen and (max-width: 600px) {
  section {
    padding: 20px 0px; } }
.color_orange {
  color: #E8663C; }

.color_pink {
  color: #F3AF9D; }

.bckg_orange {
  background-color: #E8603C; }

.text-black {
  color: black; }

.white {
  background-color: red;
  margin-left: -55px; }

.carruse {
  padding: 0px; }

#cita2 {
  background-color: #f6f6f6;
  margin-left: 54px; }
  #cita2 img {
    width: 5%; }

#from_blog_carrusel {
  width: 100%; }

#pagination_blog li a {
  background-color: #E8663C;
  color: white; }

textarea, input {
  border: 1px solid #E8663C;
  padding: 13px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%; }

input {
  margin-bottom: 0px;
  width: 80%; }

.btn_form {
  padding: 2% 45%; }

.pagination > li > a, .pagination > li > span {
  color: #C1C1C1;
  background-color: none;
  border-color: white; }

.pagination > li > a.active {
  color: white;
  background-color: #E8663C;
  border-radius: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px; }

#portfolio_img img {
  padding: 1px;
  border: 1px solid #c1c1c1; }
#portfolio_img .info_blog {
  border-top: 1px solid #c1c1c1; }

/*# sourceMappingURL=main.css.map */
