/*BLOG*/
.carruse{
	padding: 0px;
}
#cita2{
	background-color: #f6f6f6;
	img{
		width: 5%;
	}
}
#from_blog_carrusel{
	@extend .from_blog;
	width: 100%;
}
#pagination_blog{
li{
    a{background-color: #E8663C;
    color: white;}}
}
