.pagination>li>a, .pagination>li>span {
   color:#C1C1C1;
    background-color: none;
    border-color:white;
     }
.pagination>li>a.active{
    color:white;
     background-color: #E8663C;
     border-radius: none;
     border-bottom-left-radius: 0px;
 border-top-left-radius: 0px;
}
