.pagination>li>a, .pagination>li>span {
   color:#C1C1C1;
    background-color: none;
    border-color:white;
     }
.pagination>li>a.active{
    color:white;
     background-color: #E8663C;
     border-radius: none;
     border-bottom-left-radius: 0px;
 border-top-left-radius: 0px;
}
#portfolio_img{
    img{
        padding: 1px;
        border: 1px solid #c1c1c1;
    }
    .info_blog{
        border-top: 1px solid #c1c1c1;
    }
}
