.color_orange{
    color: #E8663C;
}
.color_pink{
    color: #F3AF9D;
}
.bckg_orange{
    background-color:     #E8603C;
}
.text-black{
    color: black;
}
.white{
    background-color: red;
    margin-left: -55px;
}
